---
import { menuLinks } from "@/site-config";
import Search from "../Search.astro";
import ThemeToggle from "../ThemeToggle.astro";

const url = new URL(Astro.request.url);
---

<header class="group relative mb-28 flex items-center sm:ps-[4.5rem]" id="main-header">
	<div class="flex sm:flex-col">
		<a
			aria-current={url.pathname === "/" ? "page" : false}
			class="inline-flex items-end grayscale hover:filter-none sm:relative sm:inline-block"
			href="/"
		>
			<svg
				class="h-10git me-3 w-12 sm:absolute sm:start-[-4.5rem] sm:me-0 sm:h-16 sm:w-14"
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 500 500"
				xml:space="preserve"
			>
				<title>Logo</title>
				<path
					style="fill:#5b5d6e"
					d="M461.228 80.701H50.772c-14.168 0-25.653 11.485-25.653 25.653v282.188h461.762V106.355c0-14.168-11.485-25.654-25.653-25.654z"
				></path><path style="fill:#9bf57d" d="M59.324 114.906h393.353v239.432H59.324z"></path><path
					style="fill:#e4eaf8"
					d="M486.881 431.299H25.119c-9.446 0-17.102-7.656-17.102-17.102v-25.653h495.967v25.653c-.001 9.445-7.657 17.102-17.103 17.102z"
				></path><path
					d="M384.267 122.923h17.102a8.017 8.017 0 0 0 0-16.034h-17.102a8.017 8.017 0 0 0 0 16.034zM59.324 311.048a8.017 8.017 0 0 0 8.017-8.017V122.923h282.722a8.017 8.017 0 0 0 0-16.034H59.324a8.017 8.017 0 0 0-8.017 8.017v188.125a8.017 8.017 0 0 0 8.017 8.017zM452.676 106.889h-17.102a8.017 8.017 0 0 0 0 16.034h9.086v223.399H67.34v-9.086a8.017 8.017 0 0 0-16.034 0v17.102a8.017 8.017 0 0 0 8.017 8.017h393.353a8.017 8.017 0 0 0 8.017-8.017V114.906a8.017 8.017 0 0 0-8.017-8.017z"
				></path><path
					d="M503.983 380.526h-9.086V106.355c0-18.566-15.105-33.67-33.67-33.67H50.772c-18.566 0-33.67 15.105-33.67 33.67v274.171H8.017A8.017 8.017 0 0 0 0 388.543v25.653c0 13.851 11.268 25.119 25.119 25.119h461.762c13.851 0 25.119-11.268 25.119-25.119v-25.653a8.017 8.017 0 0 0-8.017-8.017zM33.136 106.355c0-9.725 7.912-17.637 17.637-17.637h410.455c9.725 0 17.637 7.912 17.637 17.637v274.171H33.136V106.355zm462.831 307.841c0 5.01-4.076 9.086-9.086 9.086H25.119c-5.01 0-9.086-4.076-9.086-9.086V396.56h197.772c-.012.177-.027.354-.027.534a8.017 8.017 0 0 0 8.017 8.017h68.409a8.017 8.017 0 0 0 8.017-8.017c0-.181-.015-.357-.027-.534h197.772v17.636z"
				></path><path
					d="M247.449 311.048c13.851 0 25.119-11.268 25.119-25.119v-17.102c0-13.851-11.268-25.119-25.119-25.119-13.851 0-25.119 11.268-25.119 25.119v17.102c0 13.851 11.268 25.119 25.119 25.119zm-9.086-42.221c0-5.01 4.076-9.086 9.086-9.086s9.086 4.076 9.086 9.086v17.102c0 5.01-4.076 9.086-9.086 9.086s-9.086-4.076-9.086-9.086v-17.102zM315.324 183.315c0-13.851-11.268-25.119-25.119-25.119-13.851 0-25.119 11.268-25.119 25.119v17.102c0 13.851 11.268 25.119 25.119 25.119 13.851 0 25.119-11.268 25.119-25.119v-17.102zm-16.034 17.103c0 5.01-4.076 9.086-9.086 9.086s-9.086-4.076-9.086-9.086v-17.102c0-5.01 4.076-9.086 9.086-9.086s9.086 4.076 9.086 9.086v17.102zM204.159 183.315c0-13.851-11.268-25.119-25.119-25.119-13.851 0-25.119 11.268-25.119 25.119v17.102c0 13.851 11.268 25.119 25.119 25.119 13.851 0 25.119-11.268 25.119-25.119v-17.102zm-16.034 17.103c0 5.01-4.076 9.086-9.086 9.086s-9.086-4.076-9.086-9.086v-17.102c0-5.01 4.076-9.086 9.086-9.086s9.086 4.076 9.086 9.086v17.102zM401.37 225.537c13.851 0 25.119-11.268 25.119-25.119v-17.102c0-13.851-11.268-25.119-25.119-25.119-13.851 0-25.119 11.268-25.119 25.119v17.102c0 13.85 11.268 25.119 25.119 25.119zm-9.086-42.222c0-5.01 4.076-9.086 9.086-9.086s9.086 4.076 9.086 9.086v17.102c0 5.01-4.076 9.086-9.086 9.086s-9.086-4.076-9.086-9.086v-17.102zM144.301 200.418v-17.102c0-13.851-11.268-25.119-25.119-25.119s-25.119 11.268-25.119 25.119v17.102c0 13.851 11.268 25.119 25.119 25.119s25.119-11.269 25.119-25.119zm-34.205 0v-17.102c0-5.01 4.076-9.086 9.086-9.086 5.01 0 9.086 4.076 9.086 9.086v17.102c0 5.01-4.076 9.086-9.086 9.086-5.01-.001-9.086-4.077-9.086-9.086zM333.495 268.827v17.102c0 13.851 11.268 25.119 25.119 25.119 13.851 0 25.119-11.268 25.119-25.119v-17.102c0-13.851-11.268-25.119-25.119-25.119-13.851 0-25.119 11.268-25.119 25.119zm16.033 0c0-5.01 4.076-9.086 9.086-9.086s9.086 4.076 9.086 9.086v17.102c0 5.01-4.076 9.086-9.086 9.086s-9.086-4.076-9.086-9.086v-17.102zM196.142 311.048a8.017 8.017 0 0 0 8.017-8.017v-51.307a8.018 8.018 0 0 0-11.602-7.171l-17.102 8.551a8.016 8.016 0 0 0-3.585 10.755 8.014 8.014 0 0 0 10.755 3.585l5.501-2.75v38.336a8.016 8.016 0 0 0 8.016 8.018zM110.63 311.048a8.017 8.017 0 0 0 8.017-8.017v-51.307a8.018 8.018 0 0 0-11.602-7.171l-17.102 8.551a8.016 8.016 0 0 0-3.585 10.755 8.014 8.014 0 0 0 10.755 3.585l5.501-2.75v38.336a8.017 8.017 0 0 0 8.016 8.018zM307.307 311.048a8.017 8.017 0 0 0 8.017-8.017v-51.307a8.018 8.018 0 0 0-11.602-7.171l-17.102 8.551a8.016 8.016 0 0 0-3.585 10.755 8.014 8.014 0 0 0 10.755 3.585l5.501-2.75v38.336a8.016 8.016 0 0 0 8.016 8.018zM418.472 311.048a8.017 8.017 0 0 0 8.017-8.017v-51.307a8.018 8.018 0 0 0-11.602-7.171l-17.102 8.551a8.016 8.016 0 0 0-3.585 10.755 8.014 8.014 0 0 0 10.755 3.585l5.501-2.75v38.336a8.015 8.015 0 0 0 8.016 8.018zM238.898 225.537a8.017 8.017 0 0 0 8.017-8.017v-51.307a8.018 8.018 0 0 0-11.602-7.171l-17.102 8.551a8.016 8.016 0 0 0-3.585 10.755 8.014 8.014 0 0 0 10.755 3.585l5.501-2.75v38.336a8.016 8.016 0 0 0 8.016 8.018zM350.063 225.537a8.017 8.017 0 0 0 8.017-8.017v-51.307a8.018 8.018 0 0 0-11.602-7.171l-17.102 8.551c-3.96 1.981-5.566 6.795-3.585 10.755s6.794 5.567 10.755 3.585l5.501-2.75v38.336a8.016 8.016 0 0 0 8.016 8.018zM153.386 311.048a8.017 8.017 0 0 0 8.017-8.017v-51.307a8.018 8.018 0 0 0-11.602-7.171l-17.102 8.551a8.016 8.016 0 0 0-3.585 10.755 8.014 8.014 0 0 0 10.755 3.585l5.501-2.75v38.336a8.017 8.017 0 0 0 8.016 8.018z"
				></path>
			</svg>
			<span class="text-xl font-bold sm:text-2xl">mac's echo chamber</span>
		</a>
		<nav
			aria-label="Main menu"
			class="absolute -inset-x-4 top-14 hidden flex-col items-end gap-y-4 rounded-md bg-bgColor/[.85] py-4 text-accent shadow backdrop-blur group-[.menu-open]:z-50 group-[.menu-open]:flex sm:static sm:z-auto sm:-ms-4 sm:mt-1 sm:flex sm:flex-row sm:items-center sm:divide-x sm:divide-dashed sm:divide-accent sm:rounded-none sm:bg-transparent sm:py-0 sm:shadow-none sm:backdrop-blur-none"
			id="navigation-menu"
		>
			{
				menuLinks.map((link) => (
					<a
						aria-current={url.pathname === link.path ? "page" : false}
						class="px-4 py-4 underline-offset-2 sm:py-0 sm:hover:underline"
						data-astro-prefetch
						href={link.path}
					>
						{link.title}
					</a>
				))
			}
		</nav>
	</div>
	<Search />
	<ThemeToggle />
	<mobile-button>
		<button
			aria-expanded="false"
			aria-haspopup="menu"
			aria-label="Open main menu"
			class="group relative ms-4 h-7 w-7 sm:invisible sm:hidden"
			id="toggle-navigation-menu"
			type="button"
		>
			<svg
				aria-hidden="true"
				class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 transition-all group-aria-expanded:scale-0 group-aria-expanded:opacity-0"
				fill="none"
				focusable="false"
				id="line-svg"
				stroke="currentColor"
				stroke-width="1.5"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path d="M3.75 9h16.5m-16.5 6.75h16.5" stroke-linecap="round" stroke-linejoin="round"
				></path>
			</svg>
			<svg
				aria-hidden="true"
				class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 scale-0 text-accent opacity-0 transition-all group-aria-expanded:scale-100 group-aria-expanded:opacity-100"
				class="text-accent"
				fill="none"
				focusable="false"
				id="cross-svg"
				stroke="currentColor"
				stroke-width="1.5"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round"></path>
			</svg>
		</button>
	</mobile-button>
</header>

<script>
	import { toggleClass } from "@/utils/domElement";

	class MobileNavBtn extends HTMLElement {
		#menuOpen: boolean = false;

		connectedCallback() {
			const headerEl = document.getElementById("main-header")!;
			const mobileButtonEl = this.querySelector<HTMLButtonElement>("button");

			mobileButtonEl?.addEventListener("click", () => {
				if (headerEl) toggleClass(headerEl, "menu-open");
				this.#menuOpen = !this.#menuOpen;
				mobileButtonEl.setAttribute("aria-expanded", this.#menuOpen.toString());
			});
		}
	}

	customElements.define("mobile-button", MobileNavBtn);
</script>
