---
import { Image } from "astro:assets";
import aboutImg from "@/assets/about-astro.png";
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "About mackiser.github.io",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">Yo! 👋</h1>
		<h1 class="title">I'm McKinley, but I go by Mac for short.</h1>
		<p>
			This site acts as a personal blog, but I really only use it to post writeups for penetration
			testing labs and scripting stuff. FYI… I do not update this site super often.
		</p>
		<h2 class="title">More About Me</h2>
		<p>Outside of technology stuff, some of my other hobbies are:</p>
		<ul class="list-disc">
			<li><a class="cactus-link" href="https://app.utrsports.net/profiles/4738858">tennis</a></li>
			<li>skiing</li>
			<li>
				<a class="cactus-link" href="https://www.goodreads.com/user/show/143951289-mac-kiser"
					>reading</a>
			</li>
			<li><a class="cactus-link" href="https://letterboxd.com/mackiser/">cinema</a></li>
		</ul>
	</div>
</PageLayout>
